#primary {
  padding: 1rem;

  /* nesting css */
  & div:nth-child(2) {
    margin-inline: auto;

    & img {
      width: 6.25rem;
      height: 1.25rem;
    }
  }

  & div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 0.875rem;
  padding-inline: 1rem;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;

  overflow-x: scroll;

  display: flex;
  gap: 2rem;
  
  & a {
    text-wrap: nowrap;
  }
}

@media (width >= 768px) {
  #primary {
    padding-block: 1.25rem;
    padding-inline: 2rem;

    & div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    /* nesting css */
    & div:nth-child(2) {
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #secondary {
    justify-content: space-between;

    margin-inline: 2rem;
    padding-inline: 0;
  }
}
